header, nav {
        background-color: hsl(208, 56%, 43%);
        color: white;
        text-align: center;
        padding: 1em;

}
div, footer {
        text-align: center;
}
nav {
        /*display: inline;*/
        padding: 1px;
}
h4 {
        padding: .8em;
}
ul {
        list-style: none;
        float: right;
        padding: .5em;
}
li {
    display: inline-block;
    background: hsl(208, 56%, 43%);
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 1.5s;
    padding-right: 1em;
    padding-left: 1em;
}

li:hover {


    background: #999;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}
